<h1>Welcome to the Spa App user: @ViewBag.user.Username!</h1>
<p>
    <a asp-controller="Spa" asp-action="Index"> Go back to Spa</a>
</p>
<div>
    <p>User Email: <span>@ViewBag.user.Email</span></p>
    <p>User Join Date: <span>@ViewBag.user.Date</span></p>
</div>